@import "globals";
@import "attribution";
@import "topSection";
@import "topGrid";
@import "bottomGrid";
@import "variables";

.background {
  position: relative;
  height: 100%;
  padding-bottom: 80px;
  max-width: 1440px;
  margin: 0 auto;
  // z-index: -100;
  background-color: var(--bgLight);
  &:before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    top: 0;
    height: 240px;
    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px;
    background-color: var(--topBgLight);
  }
  .grids {
    padding: 0 40px;
    ///grid top here
    .overviewTitle {
      max-width: 1110px;
      margin: 40px auto 25px;
      font-size: 24px;
      letter-spacing: 0.01em;
      color: var(--grayTextLight);
    }
    ////grid bottom here
  }
}

@import "mediaQs";
@import "darkMode";
