:root {
  --bgLight: hsl(0, 0%, 100%);
  --bgDark: hsl(230, 17%, 14%);

  --topBgLight: hsl(225, 100%, 98%);
  --topBgDark: hsl(232, 19%, 15%);

  --cardBgLight: hsl(227, 47%, 96%);
  --cardBgDark: hsl(228, 28%, 20%);

  --textLight: hsl(230, 17%, 14%); //very dark Blue*
  --textDark: hsl(0, 0%, 100%); //white*

  --grayTextLight: hsl(228, 12%, 44%); //Dark Grayish Blue*
  --grayTextDark: hsl(228, 34%, 66%); //Desaturated Blue*
}
